body{
    color: $dark;
    background-color: $secondary;
}
// 消除BS5元素margin & padding
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

.login{
    background-image: url('https://images.unsplash.com/photo-1512388810659-4685f86d5f45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80');
    background-size: cover;
    background-position: center center;
    height: calc( 100vh - 40px );
}

.text-logo{
    font-family: 'Berkshire Swash', cursive;
}