// 背景圖片
.bg{
    &-banner{
        width: 100%;
        height: 250px;
        background-image: url(https://media.istockphoto.com/photos/cinnamon-sticks-and-powder-in-wooden-scoop-picture-id469820215?k=20&m=469820215&s=612x612&w=0&h=8dmh7vHvIX2cAtQTyUaVsQJt-oY2nDMGNYpg4OkayZc=);
        background-size: cover;
        background-position: center center;
        background-attachment: initial;
        background-attachment: fixed; // 讓它有視覺差的效果
    }
}