// 背景圖片
// Index
.index{
    &.bg{
        &-banner{
            width: 100%;
            height: 400px;
            background-image: url('./assets/images/index-banner.jpg');
            background-size: cover;
            background-position: center center;
            background-attachment: initial;
            background-attachment: fixed; // 讓它有視覺差的效果
        }
    }
}

// About
.about{
    &.bg{
        &-banner{
            width: 100%;
            height: 400px;
            background-image: url('./assets/images/about-banner.jpg');
            background-size: cover;
            background-position: center center;
            background-attachment: initial;
            background-attachment: fixed; // 讓它有視覺差的效果
        }
    }
}

// Products
.products{
    &.bg{
        &-banner{
            width: 100%;
            height: 400px;
            background-image: url('./assets/images/products-banner.jpg');
            background-size: cover;
            background-position: center center;
            background-attachment: initial;
            background-attachment: fixed; // 讓它有視覺差的效果
        }
    }
}

// Favorite
.favorite{
    &.bg{
        &-banner{
            width: 100%;
            height: 400px;
            background-image: url('./assets/images/favorite-banner.jpg');
            background-size: cover;
            background-position: center bottom;
            background-attachment: initial;
            background-attachment: fixed; // 讓它有視覺差的效果
        }
    }
}

// Article
.articles{
    &.bg{
        &-banner{
            width: 100%;
            height: 400px;
            background-image: url('./assets/images/articles-banner.jpg');
            background-size: cover;
            background-position: center bottom;
            background-attachment: initial;
            background-attachment: fixed; // 讓它有視覺差的效果
        }
    }
}

// OrderTrack
.orderTrack{
    &.bg{
        &-banner{
            width: 100%;
            height: 400px;
            background-image: url('./assets/images/orderTrack-banner.jpg');
            background-size: cover;
            background-position: center bottom;
            background-attachment: initial;
            background-attachment: fixed; // 讓它有視覺差的效果
        }
    }
}