// 所有可以按的東西都放在這

.btn{
    &-primary{
        color: $white !important; 
    }
    &-outline-primary{
        &:hover{
            color: $white;
        }
    }
    &-outline-light{
        &:hover{
            color: $white;
        }
    }
    &-outline-secondary{
        &:hover{
            color: $primary;
        }
    }
}

// Products, Articles
.category{
    a{
        display: block;
        &.active{
            background-color: $primary;
            color: $white;
        }
    }
}