// Products
.card{
    background-color: transparent;
    .card-img-box{
        position: relative;
        overflow: hidden;
    }
    .card-img{
        height: 250px;
        object-fit: cover;
        transition-duration: .4s;
    }
    .card-tag{
        position: absolute;
        top: 100;
        right: 0;
        padding: 0.35rem;
        font-weight: $font-weight-medium;
        color: $white;
        background-color: $danger;
        z-index: 20;
    }
    .img-hover-scale{
        &::before{
            content: "";
            position: absolute;
            background-color: rgb(87, 86, 86);
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            transition-duration: .4s;
        }
        &::after{
            content: "查看內容";
            position: absolute;
            padding: 1rem * .5;
            font-size: 1rem;
            text-align: center;
            color: $white;
            background-color: $primary;
            opacity: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 15;
            transition-duration: .4s;
        }
        &:hover{
            .card-img{
                transform: scale(1.1);
            }
            &::before{
                opacity: 0.3;
            }
            &::after{
                opacity: 1;
            }
        }
    }
}

// Cart
.offcanvas{
    .card{
        border: 0px;
        .card-img{
            height: 100px;
            object-fit: cover;
        }
    }
}

// Order
.order{
    .card{
        border: 0px;
        .card-img{
            height: 100px;
            object-fit: cover;
        }
    }
}

// Pay
.pay{
    .card{
        .card-img{
            height: 80px;
            object-fit: cover;
        }
    }
}

// Articles
.articles{
    .card{
        .card-img{
            height: 300px;
            object-fit: cover;
            border-radius: 0%;
        }
        &:hover{
            box-shadow:  0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
        }
    }
}

// Article
.article{
    .card-img{
        height: 500px;
        object-fit: cover;
        border-radius: 0%;
    }
}

// index
.index{
    .card-img-box{
        position: relative;
        overflow: hidden;
    }
    .card-img{
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
        &::after{
            content: "";
            position: absolute;
            margin: 0 12px;
            background-color: rgb(87, 86, 86);
            border-radius: 50%;
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            transition-duration: .4s;
        }
        &:hover{
            &::after{
                opacity: 0.3;
            }
            .card-tag{
                opacity: 1;
            }
        }
        
    }
    .card-tag{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 15;
        transition-duration: .4s;
    }
    .recommend-img{
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: center center;
        transition-duration: .4s;
        &:hover{
            transform: scale(1.09);
        }
    }
    .news-info-box{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center center;
        &::after{
            content: "";
            position: absolute;
            background-color: rgb(87, 86, 86);
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            transition-duration: .4s;
        }
        &:hover{
            &::after{
                opacity: 0.3;
            }
            .news-description{
                height: 35%;
            }
        }
    }
    .news-info{
        z-index: 15;
    }
    .news-description{
        height: 0;
        word-break: break-all; // 段行
        transition-duration: 10s;
        transition: height 1s;
        &::before{
            content: "";
            display: block;
            width: 70px;
            height: 3px;
            background-color: $white;
            margin: 10px 0;
        }
    }
    .news-tag, .news-title, .news-description{
        z-index: 15;
    }
}