// Products, Favorite
.products, .favorite{
    .card{
        background-color: transparent;
        .card-img-box{
            position: relative;
            overflow: hidden;
        }
        .card-img{
            height: 250px;
            object-fit: cover;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            transition-duration: .4s;
        }
        .card-tag{
            position: absolute;
            top: 100;
            right: 0;
            padding: 0.35rem;
            font-weight: $font-weight-medium;
            color: $white;
            background-color: $danger;
            z-index: 15;
        }
        .card-img-box{
            &::before{
                content: "";
                position: absolute;
                background-color: rgb(87, 86, 86);
                opacity: 0;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 15;
                transition-duration: .4s;
            }
            &::after{
                content: "查看內容";
                position: absolute;
                padding: 1rem * .5;
                font-size: 1rem;
                text-align: center;
                color: $white;
                background-color: $primary;
                opacity: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 15;
                transition-duration: .4s;
            }
        }
        &:hover{
            .card-img{
                transform: scale(1.1);
            }
            .card-img-box{
                &::before{
                    opacity: 0.3;
                }
                &::after{
                    opacity: 1;
                }
            }
        }
    }
}


// Cart
.offcanvas-body{
    .card{
        background-color: transparent;
        border: 0px;
        .card-img{
            height: 100px;
            object-fit: cover;
        }
    }
}

// Order
.order{
    .card{
        background-color: transparent;
        border: 0px;
        .card-img{
            height: 100px;
            object-fit: cover;
        }
    }
}

// Pay
.pay{
    .card{
        .card-img{
            height: 80px;
            object-fit: cover;
        }
    }
}

// Articles
.articles{
    .card{
        background-color: transparent;
        .card-img{
            height: 300px;
            object-fit: cover;
            border-radius: 0%;
        }
        .card-more{
            transition: 1s ease-in-out;
            &:hover{
                animation: more;
                animation-duration: .5s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }
        }
        @keyframes more{
            from{
                transform: translateY(0) scaleY(1.5);
            }
            to{
                transform: translateY(-100%) scaleY(1);
            }
        }
    }
}

// Article
.article{
    .card-img{
        height: 500px;
        object-fit: cover;
        border-radius: 0%;
    }
}

// index
.index{
    .card-img-box{
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }
    .card-img{
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
        transition-duration: .4s;
        &::after{
            content: "";
            position: absolute;
            margin: 0 12px;
            background-color: rgb(87, 86, 86);
            border-radius: 50%;
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            transition-duration: .4s;
        }
        &::before{
            content: "Let's Go";
            position: absolute;
            color: white;
            font-size: 2rem;
            font-weight: 500;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 15;
            transition-duration: .4s;
        }
        &:hover{
            transform: scale(1.1);
            &::after{
                opacity: 0.3;
                transform: scale(1.1);
            }
            &::before{
                opacity: 1;
            }
            .card-tag{
                opacity: 0;
            }
        }
        @media (min-width: 1200px){
            height: 250px;
        }
    }
    .card-tag{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        z-index: 15;
        transition-duration: .4s;
    }
    .news-info-box{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center center;
        &::after{
            content: "";
            position: absolute;
            background-color: rgb(87, 86, 86);
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            transition-duration: .4s;
        }
        &:hover{
            &::after{
                opacity: 0.3;
            }
            .news-description{
                height: 35%;
            }
        }
    }
    .news-info{
        z-index: 15;
    }
    .news-description{
        height: 0;
        word-break: break-all; // 文字段行
        transition-duration: 10s;
        transition: height 1s;
        &::before{
            content: "";
            display: block;
            width: 70px;
            height: 3px;
            background-color: $white;
            margin: 10px 0;
        }
    }
    .news-tag, .news-title, .news-description{
        z-index: 15;
    }
}