.front {
  .navbar {
    z-index: 100;
  }

  .navbar-light {
    background-color: $secondary;
  }

  .navbar-light .navbar-nav .nav-link {
    color: $primary;
    &:hover {
      background-color: $primary;
      color: $secondary;
      font-weight: bold;
    }
    &.active {
      background-color: $primary;
      color: $secondary;
      font-weight: bold;
    }
    @include pc() {
      border-bottom: 3px solid transparent;
      &:hover {
        background-color: $secondary;
        color: $primary;
        border-bottom: 3px solid $primary;
        font-weight: bold;
      }
      &.active {
        background-color: $secondary;
        color: $primary;
        border-bottom: 3px solid $primary;
        font-weight: bold;
      }
    }
  }

  .navbar-light .navbar-toggler {
    color: transparent;
    border: 0px transparent;
  }
}

.admin {
  .navbar-light {
    background-color: $primary;
  }

  .navbar-light .navbar-nav .nav-link {
    color: $secondary;
    &:hover {
      background-color: $secondary;
      color: $primary;
      font-weight: bold;
    }
    &.active {
      background-color: $secondary;
      color: $primary;
      font-weight: bold;
    }
    @include pc() {
      border-bottom: 3px solid transparent;
      &:hover {
        background-color: $primary;
        color: $secondary;
        border-bottom: 3px solid $secondary;
        font-weight: bold;
      }
      &.active {
        background-color: $primary;
        color: $secondary;
        border-bottom: 3px solid $secondary;
        font-weight: bold;
      }
    }
  }
  
  .navbar-light .navbar-toggler {
    color: transparent;
    border: 0px transparent;
  }
}