.swiper-img {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  transition-duration: .4s;
  &:hover {
    transform: scale(1.03);
    box-shadow: 10px 10px 10px #888888;
  }
}